/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}

h1, button, a {
    margin: .5em;
}

a {
    padding: .5em;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
}