<footer>

    <div class="footer-logo-section">
      <img height="50" src="https://foursys.com.br/images/logo-foursys.png" alt="foursys">
      <div class="footer-copyright">
        <p>Copyright &copy; 2024 Foursys.</p>
        <p>Todos os direitos reservados</p>
      </div>
      <div class="footer-social">
        <a href="https://www.linkedin.com/company/foursys" class="footer-social-icon" aria-label="LinkedIn">
          <img height="30" src="https://foursys.com.br/images/linkedin.svg">
        </a>
        <a href="https://www.facebook.com/FoursysTI" class="footer-social-icon" aria-label="Facebook">
          <img height="30" src="https://foursys.com.br/images/facebook.svg">
        </a>
        <a href="https://www.instagram.com/foursys_/" class="footer-social-icon" aria-label="Instagram">
          <img height="30" src="https://foursys.com.br/images/instagram.svg">
        </a>
        <a href="https://www.youtube.com/channel/UCFJJFc_JjGH_kdI46jP471Q" class="footer-social-icon" aria-label="YouTube">
          <img height="30" src="https://foursys.com.br/images/linkedin.svg">
        </a>
      </div>
    </div>
</footer>